@model glamping_addventure3.Models.Reserva

@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Reserva</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdReserva" />
            <div class="form-group">
                <label asp-for="NroDocumentoCliente" class="control-label"></label>
                <select asp-for="NroDocumentoCliente" class="form-control" asp-items="ViewBag.NroDocumentoCliente"></select>
                <span asp-validation-for="NroDocumentoCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="NombreCliente">Nombre:</label>
                <input type="text" id="NombreCliente" name="NombreCliente" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label for="ApellidoCliente">Apellido:</label>
                <input type="text" id="ApellidoCliente" name="ApellidoCliente" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label for="TelefonoCliente">Teléfono:</label>
                <input type="text" id="TelefonoCliente" name="TelefonoCliente" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label for="CorreoCliente">Correo:</label>
                <input type="text" id="CorreoCliente" name="CorreoCliente" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="FechaReserva" class="control-label"></label>
                <input asp-for="FechaReserva" class="form-control" />
                <span asp-validation-for="FechaReserva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input asp-for="FechaInicio" class="form-control" type="date" required />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFinalizacion" class="control-label"></label>
                <input asp-for="FechaFinalizacion" class="form-control" type="date" require />
                <span asp-validation-for="FechaFinalizacion" class="text-danger"></span>
            </div>
            <div class="container1">
                <div class="form-row">
                    <div class="form-group">
                        <label for="paquete">Paquetes selecionados:</label>
                        <select id="paquete" name="paqueteId" class="form-control">
                            @if (ViewBag.Paquetes != null)
                            {
                                foreach (var paquete in ViewBag.Paquetes)
                                {
                                    <option value="@paquete.Idpaquete" data-precio="@paquete.Precio">@paquete.NombrePaquete</option>
                                }
                            }
                            else
                            {
                                <option>No hay paquetes disponibles</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="precioPaquete">Precio del paquete:</label>
                        <input type="text" id="precioPaquete" name="preciopaquete" class="form-control" readonly />
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="form-row">
                    <div class="form-group">
                        <label for="servicio">Servicios selecionados:</label>
                        <select id="servicio" name="servicioids" class="form-control">
                            @if (ViewBag.Servicios != null)
                            {
                                foreach (var servicio in ViewBag.Servicios)
                                {
                                    <option value="@servicio.Idservicio" data-precio="@servicio.Costo">@servicio.NombreServicio</option>
                                }
                            }
                            else
                            {
                                <option>No hay servicios disponibles</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="button" id="agregarServicio" class="btn btn-success">Agregar Servicio</button>
                    </div>
                </div>
                <div class="form-group">
                    <table class="table" id="tablaServicios">
                        <thead>
                            <tr>
                                <th>Servicio</th>
                                <th>Costo</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SubTotal" class="control-label"></label>
                <input asp-for="SubTotal" class="form-control" />
                <span asp-validation-for="SubTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descuento" class="control-label"></label>
                <input asp-for="Descuento" class="form-control" />
                <span asp-validation-for="Descuento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Iva" class="control-label"></label>
                <input asp-for="Iva" class="form-control" />
                <span asp-validation-for="Iva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MontoTotal" class="control-label"></label>
                <input asp-for="MontoTotal" class="form-control" />
                <span asp-validation-for="MontoTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetodoPago" class="control-label"></label>
                <select asp-for="MetodoPago" class="form-control" asp-items="ViewBag.MetodoPago"></select>
                <span asp-validation-for="MetodoPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEstadoReserva" class="control-label"></label>
                <select asp-for="IdEstadoReserva" class="form-control" asp-items="ViewBag.IdEstadoReserva"></select>
                <span asp-validation-for="IdEstadoReserva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
