@model glamping_addventure3.Models.Paquete

<div>
    <dl class="row">
        <dt class="text-center">
            @Html.DisplayNameFor(model => model.NombrePaquete)
        </dt>
        <dd class="text-center">
            @Html.DisplayFor(model => model.NombrePaquete)
        </dd>

        <dt class="text-center">
            @Html.DisplayNameFor(model => model.ImagenPaquete)
        </dt>
        <dd class="text-center">
            @if (Model.ImagenPaquete != null && Model.ImagenPaquete.Length > 0)
            {

                var base64Image = Convert.ToBase64String(Model.ImagenPaquete);

                var imageSrc = $"data:image/png;base64,{base64Image}";
                <img src="@imageSrc" alt="Imagen de @Model.NombrePaquete" style="width:250px;height:auto;" />
            }
            else
            {
                <span>No hay imagen</span>
            }
        </dd>
    </dl>

    <div class="text-center mt-4">
        <form asp-action="Delete" style="display: inline-block;">
            <input type="hidden" asp-for="Idpaquete" />
            <input type="submit" value="Eliminar" class="btn btn-danger btn-sm" />
        </form>
        <a asp-action="Index" class="btn btn-secondary btn-sm" style="display: inline-block;">Volver atrás</a>
    </div>
</div>